pip install open_clip_torch
pip install torch
pip install transformers 
pip install pillow
pip install chromadb
pip install pandas
pip install openpyxl
pip install datasets
pip install tqdm
pip install sentence-transformers
pip install qwen
pip install qwen-vl-utils